body {
  background: #e9ecef;
}

.app-container {
  max-width: 420px;   /* typical mobile width */
  min-height: 100vh;
  margin: auto;
  background: white;
  border: 1px solid #ccc;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clickable-icon{
  color: #199a8e;
}

.btn-white {
  background-color: #fff !important;
  color: #000 !important; 
  border-color: #d5d4d4 !important; 
}

.btn-white:hover {
  background-color: #e6e6e6 !important; 
  border-color: #adadad !important;
}

.dropdown{
  color: #199a8e;
  transition: transform 0.2s ease;
}

[data-open] .dropdown{
  transform: rotate(180deg);
}

.important{
  background-color: #199a8e;
  color: white;
}

#back-button:hover{
  cursor: pointer;
}

.links{
  color: 'inherit';
  display: 'contents';
  text-decoration: none; 
}

.react-tooltip {
  max-width: 250px;
  white-space: pre-wrap;
  z-index: 100;
  opacity: 95% !important;
}

.no-hover:hover {
  background-color: inherit !important;
}

.work{
  pointer-events: auto;
  cursor: default;
}

.work-tooltip{
  max-width: 150px;
  white-space: pre-wrap;
  opacity: 95% !important
}

.segmented-progress{
  display: flex;
  gap: 10px;
  align-items: center;
}

.segment{
  min-width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #a3a3a3;
  flex: 1
}

.segment.done{
  background-color: #199a8e;
}

.fc {
  font-size: 0.85rem;
  font-weight: 500;
}

.fc .fc-daygrid-day-frame:hover{
  cursor:pointer;
}

